<div>
  <h2 id="page-heading" data-cy="PetHeading">
    <span>Pets</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pet"
        [routerLink]="['/pet/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> List a new pet </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pets?.length === 0">
    <span>No Pets found</span>
  </div>

  <div id="entities" *ngIf="pets && pets.length > 0" class="box">
    <div *ngFor="let pet of pets; trackBy: trackId" data-cy="entityTable" class="box">
      <div class="card" style="width: 18rem">
        <img class="card-img-top" src="{{ pet.picture }}" alt="Pet image not available" />
        <div class="card-body">
          <h5 *ngIf="pet.forSale" class="card-title">For Sale</h5>
          <h5 *ngIf="!pet.forSale" class="card-title">Just Bought</h5>
          <p class="card-text">Looking for a {{ pet.category }}?</p>
          <p *ngIf="pet.name" class="card-text">{{ pet.name }} may be the pet for you!</p>
          <p *ngIf="pet.race" class="card-text">{{ pet.race }} is what you've been looking for!</p>
          <div class="btn-group">
            <button type="submit" [routerLink]="['/pet', pet.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline">Buy</span>
            </button>

            <button
              *jhiHasAnyAuthority="'ROLE_ADMIN'"
              type="submit"
              (click)="delete(pet)"
              class="btn btn-danger btn-sm"
              data-cy="entityDeleteButton"
            >
              <fa-icon icon="times"></fa-icon>
              <span class="d-none d-md-inline">Delete</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
